.header, .Map, .Underworld{
text-align: center; 
text-transform: uppercase; 
font-size: 30px;  
}

.header-blue{
    color: #3E45E8;
}

.header-yellow{
    color: #E8C23E;
}

.background {
    min-height: 100%;
    min-width: 640px;
    width: 100%;
}

body{
    font-family: Inika; 
    font-weight: 700;
}


.content > div {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    display: inline-block;
    box-shadow: 5px 5px 5px black;
    margin: 30px;
    max-width: 848px;
}

.text{
    font-size: 30px;
}

.Ukraine{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
}

.Underworld{
    background-color: rgb(29, 29, 138) ;

}

.Pushthebottom{
    text-align: center;
    background-color: #3E45E8;
    text-transform: uppercase; 
    font-size: 40px; 
    width: 330px;
    height: 80px;
    border-radius: 28%;
     
}
